@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Customers</h1>
    <p class="lead">Customer</p>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
            John Smith
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            Hycomp
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            BYU-I
        </a>
    </div>
</div>

